<%= form_for @tool do |f| %>
<% if @tool.errors.any? %>
    <div id="error_explanation">
    <h2>
      <%= pluralize(@tool.errors.count, "error") %>
      prohibited this form from being saved:
    </h2>
      <ul>
        <% @tool.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

  <%= f.label :text %>
  <%= f.text_field :text %><br>

  <%= f.label :link %>
  <%= f.text_field :link %><br>

  <%= f.submit %>
<% end %>