<h1>Posts Index</h1>

<ul>
  <% @posts.each do |post| %>
    <li>
      <div><%= post.title %></div>
      <div><%= post.created_at %></div>
  <% end %>
</ul>

<%= link_to 'New Post', new_post_path %>


<h1>Video Index</h1>

<ul>
  <% @videos.each do |video| %>
    <li>
      <div>Title: <%= video.title %></div>
      <div>Body: <%= video.body %></div>
      <div>Link: <%= video.link %></div>
    </li>
  <% end %>
</ul>

<h1>New Video</h1>

<%= form_for @video do |f| %>
  <%= f.label :title %></br>
  <%= f.text_field :title %></br>

  <%= f.label :body %></br>
  <%= f.text_area :body %></br>

  <%= f.label :link %></br>
  <%= f.text_field :link %></br>
  </br>
  <%= f.submit %>
<% end %>

<h1>Shows</h1>

<% @shows.each do |show| %>
  What: <%= show.what %><br>
  Where: <%= show.where %><br>
  When: <%= show.when.strftime("%m/%d/%Y %H%p") %><br>
  How: <%= show.how %><br><br>
<% end %>

<h1>New Show</h1>

<%= form_for @show do |f| %>
  <%= f.label :what %></br>
  <%= f.text_field :what %></br>

  <%= f.label :where %></br>
  <%= f.text_field :where %></br>

  <%= f.label :how %></br>
  <%= f.text_field :how %></br>

  <%= f.label :when %></br>
  <%= f.datetime_select :when %></br>

  </br>

  <%= f.submit %>
<% end %>