<h1>Posts Index</h1>

<ul>
  <% @posts.each do |post| %>
    <li>
      <div><b><%= post.title %></b></div>
      <div>Created at: <%= post.created_at.strftime("%m/%Y") %></div>
      <div><%= post.body[0..50] %></div>
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Destroy', post, method: :delete %>
      <br>
  <% end %>
</ul>

<%= link_to 'New Post', new_post_path %>


<h1>Video Index</h1>

<ul>
  <% @videos.each do |video| %>
    <li>
      <div>Title: <%= video.title %></div>
      <div>Body: <%= video.body %></div>
      <div>Link: <%= video.link %></div>
      <%= link_to 'Edit', edit_video_path(video) %>
      <%= link_to 'Destroy', video, method: :delete %>
    </li>
  <% end %>
</ul>

<%= link_to 'New Video', new_video_path %>

<h1>Shows</h1>

<% @shows.each do |show| %>
  What: <%= show.what %><br>
  Where: <%= show.where %><br>
  When: <%= show.when.strftime("%m/%d/%y %H%p") %><br>
  How: <%= show.how %><br>
  <%= link_to 'Edit', edit_show_path(show) %>
  <%= link_to 'Destroy', show, method: :delete %>

  <br><br>
<% end %>

<%= link_to 'New Show', new_show_path %>

