<div class="section" id="section2">

    <div class="post-container">
        <img id="now" src="assets/now.png"/>
        <ul>
            <% @posts.first(3).to_enum.with_index(1).each do |post, index| %>
                <li id="<%= index.ordinalize %>">
                    <div class="post-title-and-date">
                        <h3 class="post-title"><%= post.title %></h3>
                        <h3 class="post-date"><%= post.created_at.strftime("%m/%Y") %></h3>
                    </div>
                    <p class="post-body"><%= post.body %></p>
                </li>
            <% end %>
        </ul>

        <ul id="js-posts">
            <% @posts.each do |post| %>
                <div data-id="<%= post.id %>">
                    <h1 class="js-post"><a href="#"><%= post.title %> <%= post.created_at.strftime("%m/%Y") %></a></h1>
                </div>
            <% end %>
        </ul>
    </div>

</div>