<div class="section" id="section1">
    <img class="image-scale" id="boob_elephant" src="assets/boob_elephant_image.png"/>
</div>

<%= render "blog_post_index" %>

<div class="section" id="section3">
    <img class="image-scale" id="bum" src="assets/bum.png"/>
</div>

<div class="section" id="section4">
    <!-- <img class="image-scale" id="space1" src="assets/space1.png"/> -->

    <div id="music-links">
        <ul>
            <li>
                <a href="<%= @link1.url %>"><img src="assets/1-FoN.png"/></a>
            </li>
            <li>
                <a href="<%= @link2.url %>"><img src="assets/2-IM.png"/></a>
            </li>
            <li>
                <a href="<%= @link3.url %>"><img src="assets/3-SS.png"/></a>
            </li>
            <li>
                <a href="<%= @link4.url %>"><img src="assets/4-L.png"/></a>
            </li>
        </ul>
    </div>
</div>

<div class="section" id="section5">
    <img class="image-scale" id="bird-monkey" src="assets/bird_monkey.png"/>
</div>

<div class="section" id="section6">

    <% if @video %>
        <div class='video-detail-wrapper'>
        <iframe id="video-frame" width="100%" height="315" src="//www.youtube.com/embed/<%= @video.link %>" frameborder="0" allowfullscreen></iframe>
          <h1 id="video-title"><%= @video.title %></h1>
          <p id="video-body"><%= @video.body %></p>
        </div>
    <% end %>
    
     <span id="video-prev"><img id="video-prev-img" src="assets/video-left.png"/></span>
        <ul class="video-preview-ul">
        <% @videos.each do |video| %>
            <li class="video col-sm-3" data-url="<%= video.link %>" data-title="<%= video.title %>" data-body="<%= video.body %>">
                <img class="video-preview" src="http://img.youtube.com/vi/<%= video.link %>/0.jpg"/>
                <p><%= video.title %></p>
            </li>
        <% end %>
    </ul>
    <span id="video-nxt"><img id="video-nxt-img" src="assets/video-right.png"/></span>

</div>

<div class="section" id="section7">
    <img class="image-scale" id="spear-wolf" src="assets/spear_wolf.png"/>
</div>

<div class="section" id="section8">
    <ul class="row tab-link-ul">
        <li class="tab-link active-tab-link col-sm-4" data-tab="bio"><a href="#">BIO</a></li>
        <li class="tab-link col-sm-4" data-tab="photos"><a href="#">PHOTOS</a></li>
        <li class="tab-link col-sm-4" data-tab="tools"><a href="#">TOOLS</a></li>
    </ul><br>

    <div id="other" class="tab-content">
        <ul>
            <% @projects.each_with_index do |project, index| %>
                <li class="tools <%= index.even? ? 'black' : 'white' %>"><%= link_to project.name, project.url %></li>
            <% end %>
        </ul>
    </div>

    <div id="bio" class="tab-content active-tab">
        <%= @bio.text %>
    </div>

    <div id="photos" class="tab-content" style="display: none;">
        <div class="row">
            <% @galleries.each_with_index do |gallery, index| %>
                <div class="col-sm-6">
                    <div>
                        <img class="gallery-photo" data-gallery="<%= gallery.id %>" src="assets/gallery_cover_<%= index %>.png"/>
                    </div>

                    <div class="modal fade" id="gallery-<%= gallery.id %>">
                        <%= image_tag 'gallery_logo.png', style: 'position: absolute; top: 15px; left: 15px; width: 80px; height: auto;' %>
                        <%= image_tag 'gallery_x_button.png', style: 'position: absolute; top: 15px; right: 15px; width: 40px; height: auto;' %>
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <% if gallery.images.size > 0 %>
                                        <%= image_tag gallery.images.first.photo.url(:original), data: { parent: index } %>
                                    <% end %>
                                </div>
                                <div class="modal-footer">
                                    <ul>
                                        <% gallery.images.each do |image| %>
                                            <li class="gallery-li"><%= image_tag image.photo.url(:icon), data: { original: image.photo.url(:original), parent: index } %></li>
                                        <% end %>
                                    </ul>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                </div>
            <% end %>
        </div>
    </div>

    <div id="tools" class="tab-content" style="display: none;">
        <ul>
            <% @tools.each_with_index do |tool, index| %>
                <li class="tools <%= index.even? ? 'black' : 'white' %>"><%= link_to tool.text, tool.link %></li>
            <% end %>
        </ul>
    </div>

    <h1 class="tab-link" data-tab="other"><a id="other-projects" href="#">OTHER PROJECTS</a></h1>
    <ul class="social-links">
        <a href="#"><li id="facebook-icon" class="social-icon"></li></a>
        <a href="#"><li id="twitter-icon" class="social-icon"></li></a>
        <a href="#"><li id="youtube-icon" class="social-icon"></li></a>
        <a href="#"><li id="bandcamp-icon" class="social-icon"></li></a>
        <a href="#"><li id="email-icon" class="social-icon"></li></a>
    </ul>
</div>

<div class="section" id="section9">
    <img class="image-scale" id="big_face" src="assets/big_face_image.png"/>
</div>

<div class="section" id="section10">
    <a class="anchor" id="shows"></a>

    <h1>Shows / Clinics</h1>
    <table class="table">
        <thead>
            <tr>
                <th>WHAT</th>
                <th>WHERE</th>
                <th>WHEN</th>
                <th>HOW</th>
            </tr>
        </thead>
        <tbody>
            <% @shows.each do |show| %>
                <tr>
                    <td><%= show.what %></td>
                    <td><%= show.where %></td>
                    <td><%= show.when.strftime("%m/%d/%y %H%p") %></td>
                    <td><a href="<%= show.how %>">BUY</a></td>
                </tr>
            <% end %>
        </tbody>
    </table>

</div>
