<!DOCTYPE html>
<html>
<head>
  <title>Aman</title>
  <%= stylesheet_link_tag    'mobile' %>
  <%= javascript_include_tag 'mobile' %>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-12" style="height: 100vh;">
        <div class="section1">
          <div class='mobile-msg'>
            <%= MobileText.first.msg.html_safe if MobileText.all.count == 1 %>
          </div>
          <br/>
          <div class="down-arrow">
            <%= image_tag 'down_arrow_black.png' %>
            <div style="display:none;" id="cheeky-message"><%= MobileText.first.scroll_msg.html_safe if MobileText.all.count == 1 %></div>
          </div>
        </div>
      </div>
    </div>

<!--     <div class="row">
      <div class="col-sm-12">
        <div class="section2">
          <%#= image_tag 'now_mobile.png', class: 'now-title' %>

          <div class="post-container">
              <ul class="post-display">
                <li id="1st">
                  <div class="post-title-and-date">
                    <h3 class="post-title"></h3>
                    <h3 class="post-date"></h3>
                  </div>
                  <p class="post-body"></p>
                </li>
              </ul>

              <div class="post-selector-container">
                <span id="post-prev" class="table-cell"><img id="post-prev-img" src="assets/post-left.png"/></span>
                <ul id="ul-posts-list"></ul>
                <span id="post-nxt" class="table-cell"><img id="post-prev-img" src="assets/post-left.png" style="-webkit-transform: rotate(180deg);"/></span>
              </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="row">
      <div class="col-sm-12">
        <div class="section3">
          <ul id="music-links">
            <li><a href="<%= @link1.url %>"><img src="assets/1-FoN.png"/></a></li>
            <li><a href="<%= @link2.url %>"><img src="assets/2-IM.png"/></a></li>
            <li><a href="<%= @link3.url %>"><img src="assets/3-SS.png"/></a></li>
            <li><a href="<%= @link4.url %>"><img src="assets/4-L.png"/></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row" style="background-color:black; border-top: 2px solid white;" >
      <div class="col-sm-12">
        <br/>
        <br/>
        <br/>
        <div class="section4">
          <%= image_tag 'video_title.png', id: 'video-title' %>

          <% if @videos %>
            <div class='video-detail-wrapper'>
              <% @videos.each_with_index do |v, index| %>
                <iframe data-index="<%= index %>" id="video-<%= index %>" class="video-frame <%= index == 0 ? 'showing' : 'not-showing' %>" width="75%" height="550px" src="//www.youtube.com/embed/<%= v.link %>" frameborder="0" allowfullscreen></iframe>
              <% end %>
            </div>
          <% end %>
          
          <div style="text-align:center">
            <span id="video-prev"><img id="video-prev-img" src="assets/video-left.png"/></span>
            <span id="video-nxt"><img id="video-nxt-img" src="assets/video-right.png"/></span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
         
          <div id="bio" class="tab-content active-tab">
            <%= MobileText.first.text if MobileText.all.count == 1 %>
          </div>

      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="section6">
          <div id="shows_and_social">
            <h1 id="shows_clinics"><a target="_blank" href="<%= mobile_shows_path %>" style="color:black;">SHOWS  /  CLINICS</a></h1>

            <ul class="social-links">
              <a href="http://<%= SocialMediaLink.find_by_name('Facebook').url %>"><li id="facebook-icon" class="social-icon"></li></a>
              <a href="http://<%= SocialMediaLink.find_by_name('Twitter').url %>"><li id="twitter-icon" class="social-icon"></li></a>
              <a href="http://<%= SocialMediaLink.find_by_name('YouTube').url %>"><li id="youtube-icon" class="social-icon"></li></a>
              <a href="http://<%= SocialMediaLink.find_by_name('Bandcamp').url %>"><li id="bandcamp-icon" class="social-icon"></li></a>
              <a href="mailto:amankhosla1@gmail.com"><li id="email-icon" class="social-icon"></li></a>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div><!-- container -->

</body>
</html>
s



