<!DOCTYPE html>
<html>
<head>
  <title>Aman</title>
  <%= stylesheet_link_tag    'mobile' %>
  <%= javascript_include_tag 'mobile' %>
  <%= csrf_meta_tags %>
</head>
<body>


    <div class="row">
      <div class="col-sm-12" style="height: 100vh;">
        <div class="section1">
          <div class="down-arrow"><%= image_tag 'down_arrow_black.png' %></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="section2">
          <%= image_tag 'now_mobile.png', class: 'now-title' %>

          <div class="post-container">
              <ul>
                <li id="1st">
                  <div class="post-title-and-date">
                    <h3 class="post-title"></h3>
                    <h3 class="post-date"></h3>
                  </div>
                  <p class="post-body"></p>
                </li>
              </ul>

              <div class="post-selector-container">
                <span id="post-prev"><img id="post-prev-img" src="assets/post-left.png"/></span>
                <ul id="ul-posts-list"></ul>
                <span id="post-nxt"><img id="post-prev-img" src="assets/post-left.png" style="-webkit-transform: rotate(180deg);"/></span>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="section3">
          <ul id="music-links">
            <li><a href="<%= @link1.url %>"><img src="assets/1-FoN.png"/></a></li>
            <li><a href="<%= @link2.url %>"><img src="assets/2-IM.png"/></a></li>
            <li><a href="<%= @link3.url %>"><img src="assets/3-SS.png"/></a></li>
            <li><a href="<%= @link4.url %>"><img src="assets/4-L.png"/></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="section4">
          <%= image_tag 'video_title.png', id: 'video-title' %>

          <% if @video %>
            <div class='video-detail-wrapper'>
              <iframe id="video-frame" width="75%" height="550px" src="//www.youtube.com/embed/<%= @video.link %>" frameborder="0" allowfullscreen></iframe>
              <h1 id="video-title"><%= @video.title %></h1>
              <p id="video-body"><%= @video.body %></p>
            </div>
          <% end %>

          <span id="video-prev"><img id="video-prev-img" src="assets/video-left.png"/></span>
          <ul class="video-preview-ul">
          <% @videos.each do |video| %>
            <li class="video col-sm-3" data-url="<%= video.link %>" data-title="<%= video.title %>" data-body="<%= video.body %>">
              <img class="video-preview" src="http://img.youtube.com/vi/<%= video.link %>/0.jpg"/>
              <p><%= video.title %></p>
            </li>
          <% end %>
          </ul>
          <span id="video-nxt"><img id="video-nxt-img" src="assets/video-right.png"/></span>
          
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="section5">
          <ul class="row tab-link-ul">
            <li class="tab-link active-tab-link col-sm-4" data-tab="bio"><a>BIO</a></li>
            <li class="tab-link col-sm-4" data-tab="photos"><a>PHOTOS</a></li>
            <li class="tab-link col-sm-4" data-tab="tools"><a>TOOLS</a></li>
          </ul><br>

          <div id="bio" class="tab-content active-tab">
            <%= @bio.text %>
          </div>

          <!-- begin photo tab -->
          <div id="photos" class="tab-content" style="display: none;">
            <div class="row">
              <% @galleries.each_with_index do |gallery, index| %>
                <div class="col-sm-6">
                  <div>
                    <img class="gallery-photo" data-gallery="<%= gallery.id %>" src="assets/gallery_cover_<%= index %>.png"/>
                  </div>

                  <div class="modal fade" id="gallery-<%= gallery.id %>">
                    <%= image_tag 'gallery_logo.png', style: 'position: absolute; top: 15px; left: 15px; width: 80px; height: auto;' %>
                    <%= image_tag 'gallery_x_button.png', style: 'position: absolute; top: 15px; right: 15px; width: 40px; height: auto;', class: 'x-button' %>
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-body">
                          <div id="slider<%= index %>_container" style="position: relative; top: 0px; left: 0px; width: 800px;
        height: 456px; background: #24262e; overflow: hidden;">

                                        <!-- Loading Screen -->
                            <div u="loading" style="position: absolute; top: 0px; left: 0px;">
                              <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
                                  background-color: #000000; top: 0px; left: 0px;width: 100%;height:100%;">
                              </div>
                              <div style="position: absolute; display: block; background: url(../img/loading.gif) no-repeat center center;
                                  top: 0px; left: 0px;width: 100%;height:100%;">
                              </div>
                            </div>

                            <!-- Slides Container -->
                            <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 100%; height: 356px; overflow: hidden;">
                              <% gallery.images.each do |image| %>
                                <div>
                                  <img u="image" src="<%= image.photo.url(:original) %>"/>
                                  <img u="thumb" src="<%= image.photo.url(:medium) %>"/>
                                </div>
                              <% end %>
                            </div>
                                        
                            <!-- Thumbnail Navigator Skin Begin -->
                            <div u="thumbnavigator" class="jssort01" style="position: absolute; width: 800px; height: 100px; left:0px; bottom: 0px;">
                            
                              <div u="slides" style="cursor: move;">
                                <div u="prototype" class="p" style="position: absolute; width: 72px; height: 72px; top: 0; left: 0;">
                                  <div class=w><div u="thumbnailtemplate" style="width: 100%; height: 100%; border: none;position:absolute; top: 0; left: 0;"></div></div>
                                  <div class=c>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div><!-- slider -->
                        </div><!-- /.modal-body -->
                      </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                  </div><!-- /.modal -->
                </div><!-- col-sm-3 -->
              <% end %>
            </div>
          </div>


          <!-- end photo tab -->


          <div id="tools" class="tab-content" style="display: none;">
            <ul>
              <% @tools.each_with_index do |tool, index| %>
                <li class="tools <%= index.even? ? 'black' : 'white' %>"><%= link_to tool.text, tool.link %></li>
              <% end %>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="section6">
          <div id="shows_and_social">
            <h1 id="shows_clinics">SHOWS  /  CLINICS</h1>

            <ul class="social-links">
              <a href="#"><li id="facebook-icon" class="social-icon"></li></a>
              <a href="#"><li id="twitter-icon" class="social-icon"></li></a>
              <a href="#"><li id="youtube-icon" class="social-icon"></li></a>
              <a href="#"><li id="bandcamp-icon" class="social-icon"></li></a>
              <a href="#"><li id="email-icon" class="social-icon"></li></a>
            </ul>
          </div>
        </div>
      </div>
    </div>

</body>
</html>


