<div class="section" id="section1">
    <img class="image-scale" id="boob_elephant" src="assets/boob_elephant_image.png"/>
</div>

<%= render "blog_post_index" %>

<div class="section" id="section3">
    <img class="image-scale" id="bum" src="assets/bum.png"/>
</div>

<div class="section" id="section4">
    <!-- <img class="image-scale" id="space1" src="assets/space1.png"/> -->
    <%= link_to (image_tag 'star.png', class: 'star', id: 'first-egg'), Egg.first.link %>
    <%= link_to (image_tag 'star.png', class: 'star', id: 'second-egg'), Egg.find(2).link %>
    <%= link_to (image_tag 'star.png', class: 'star', id: 'third-egg'), Egg.find(3).link %>

    <%= link_to (image_tag 'twinkle.png', id: 'first-twinkle'), Egg.first.link %>
    <%= link_to (image_tag 'twinkle.png', id: 'second-twinkle'), Egg.find(2).link %>
    <%= link_to (image_tag 'twinkle.png', id: 'third-twinkle'), Egg.find(3).link %>

    <div id="music-links">
        <ul>
            <li>
                <a href="<%= @link1.url %>"><img src="assets/1-FoN.png"/></a>
            </li>
            <li>
                <a href="<%= @link2.url %>"><img src="assets/2-IM.png"/></a>
            </li>
            <li>
                <a href="<%= @link3.url %>"><img src="assets/3-SS.png"/></a>
            </li>
            <li>
                <a href="<%= @link4.url %>"><img src="assets/4-L.png"/></a>
            </li>
        </ul>
    </div>
</div>

<div class="section" id="section5">
    <img class="image-scale" id="bird-monkey" src="assets/bird_monkey.png"/>
</div>

<div class="section" id="section6">

    <% if @video %>
        <div class='video-detail-wrapper'>
        <iframe id="video-frame" width="100%" height="315" src="//www.youtube.com/embed/<%= @video.link %>" frameborder="0" allowfullscreen></iframe>
          <h1 id="video-title"><%= @video.title %></h1>
          <img class="underline" src="assets/underline.png"/>
          <p id="video-body"><%= @video.body %></p>
        </div>
    <% end %>
    
    <span id="video-prev"><img id="video-prev-img" src="assets/video-left.png"/></span>
    <ul class="video-preview-ul">
    <% @videos.each do |video| %>
        <li class="video col-sm-3" data-url="<%= video.link %>" data-title="<%= video.title %>" data-body="<%= video.body %>">
            <img class="video-preview" src="http://img.youtube.com/vi/<%= video.link %>/0.jpg"/>
            <p><%= video.title %></p>
        </li>
    <% end %>
    </ul>
    <span id="video-nxt"><img id="video-nxt-img" src="assets/video-right.png"/></span>

</div>

<div class="section" id="section7">
    <img class="image-scale" id="spear-wolf" src="assets/spear_wolf.png"/>
</div>

<div class="section" id="section8">
    <ul class="row tab-link-ul">
        <li class="tab-link active-tab-link col-sm-4" data-tab="bio"><a>BIO</a></li>
        <li class="tab-link col-sm-4" data-tab="photos"><a>PHOTOS</a></li>
        <li class="tab-link col-sm-4" data-tab="tools"><a>TOOLS</a></li>
    </ul><br>

    <div id="other" class="tab-content">
        <ul>
            <% @projects.each_with_index do |project, index| %>
                <li class="tools <%= index.even? ? 'black' : 'white' %>"><%= link_to project.name, project.url %></li>
            <% end %>
        </ul>
    </div>

    <div id="bio" class="tab-content active-tab">
        <%= @bio.text %>
    </div>

    <div id="photos" class="tab-content" style="display: none;">
        <div class="row">
            <% @galleries.each_with_index do |gallery, index| %>
                <div class="col-sm-6">
                    <div>
                        <img class="gallery-photo" data-gallery="<%= gallery.id %>" src="assets/gallery_cover_<%= index %>.png"/>
                    </div>

                    <div class="modal fade" id="gallery-<%= gallery.id %>">
                        <%= image_tag 'gallery_logo.png', style: 'position: absolute; top: 15px; left: 15px; width: 80px; height: auto;' %>
                        <%= image_tag 'gallery_x_button.png', style: 'position: absolute; top: 15px; right: 15px; width: 40px; height: auto;', class: 'x-button' %>
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div id="slider<%= index %>_container" class="slider" style="position: relative; top: 0px; left: 0px; width: 800px;
        height: 456px; background: #24262e; overflow: hidden;">

                                        <!-- Loading Screen -->
                                        <div u="loading" style="position: absolute; top: 0px; left: 0px;">
                                            <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
                                                background-color: black; top: 0px; left: 0px;width: 100%;height:100%;">
                                            </div>
                                            <div style="position: absolute; display: block; background: url(../img/loading.gif) no-repeat center center;
                                                top: 0px; left: 0px;width: 100%;height:100%;">
                                            </div>
                                        </div>

                                        <!-- Slides Container -->
                                        <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 800px; height: 356px; overflow: hidden;">
                                            <% gallery.images.each do |image| %>
                                                <div>
                                                    <img u="image" src="<%= image.photo.url(:original) %>"/>
                                                    <img u="thumb" src="<%= image.photo.url(:medium) %>"/>
                                                </div>
                                            <% end %>
                                        </div>
                                        
                                        <!-- Thumbnail Navigator Skin Begin -->
                                        <div u="thumbnavigator" class="jssort01" style="position: absolute; width: 800px; height: 100px; left:0px; bottom: 0px;">
                                        
                                            <div u="slides" style="cursor: move;">
                                                <div u="prototype" class="p" style="position: absolute; width: 72px; height: 72px; top: 0; left: 0;">
                                                    <div class=w><div u="thumbnailtemplate" style="width: 100%; height: 100%; border: none;position:absolute; top: 0; left: 0;"></div></div>
                                                    <div class=c>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.modal-body -->
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                </div>
            <% end %>
        </div>
    </div>

    <div id="tools" class="tab-content" style="display: none;">
        <ul>
            <% @tools.each_with_index do |tool, index| %>
                <li class="tools <%= index.even? ? 'black' : 'white' %>"><%= link_to tool.text, tool.link %></li>
            <% end %>
        </ul>
    </div>

    <h1 class="tab-link" data-tab="other"><a id="other-projects">OTHER PROJECTS</a></h1>
    <ul class="social-links">
        <a href="#"><li id="facebook-icon" class="social-icon"></li></a>
        <a href="#"><li id="twitter-icon" class="social-icon"></li></a>
        <a href="#"><li id="youtube-icon" class="social-icon"></li></a>
        <a href="#"><li id="bandcamp-icon" class="social-icon"></li></a>
        <a href="#"><li id="email-icon" class="social-icon"></li></a>
    </ul>
</div>

<div class="section" id="section9">
    <img class="image-scale" id="big_face" src="assets/big_face_image.png"/>
</div>

<div class="section" id="section10">
    <a class="anchor" id="shows"></a>

    <div id="shows_clinics">
        <div id="shows-link"></div> <div id="slash-link" src="assets/Slash-05.png"></div> <div id="clinics-link" src="assets/Shows-04.png"></div>
    </div>

    <div class="shows-wrapper">
        <table class="table shows-table">
            <thead>
                <tr>
                    <th class="table-header">WHAT</th>
                    <th class="table-header">WHERE</th>
                    <th class="table-header">WHEN</th>
                    <th class="table-header">HOW</th>
                </tr>
            </thead>
            <tbody>
                <% @shows.each do |show| %>
                    <tr>
                        <td><%= show.what %></td>
                        <td><%= show.where %></td>
                        <td><%= show.when.strftime("%m/%d/%y %H%p") %></td>
                        <td><a href="<%= show.how %>">BUY</a></td>
                    </tr>
                <% end %>
            </tbody>

        </table>
    </div>

    <div class="clinics-wrapper">
       <table class="table clinics-table">
        <thead>
            <tr>
                <th>WHAT</th>
                <th>WHERE</th>
                <th>WHEN</th>
                <th>HOW</th>
            </tr>
        </thead>
        <tbody>
            <% @clinics.each do |c| %>
                <tr>
                    <td><%= c.what %></td>
                    <td><%= c.where %></td>
                    <td><%= c.when.strftime("%m/%d/%y %H%p") %></td>
                    <td><a href="<%= c.how %>">BUY</a></td>
                </tr>
            <% end %>
        </tbody>
        </table>
    </div>

</div>

