<div class='landing'>
  <a href="<%= home_path %>">
    <div class="fadehover">
      <img class="landing-logo a" src="assets/Logo_White-09.png"/>
      <img class="landing-logo b" src="assets/Logo_Hover.png"/>
    </div>
  </a>
  <div class='landing-links-div'>
    <ul class='landing-links-list'>
      <li><a href="<%= home_path %>">AMAN</a></li> /
      <li><a href="http://www.soundcloud.com/aman-khosla">COMPOSITIONS</a></li> / 
      <li><a href="https://tack.bz/2bLCg">LEARN</a></li> / 
      <li><a href="/home#shows">SHOWS</a></li>
    </ul>
  </div>
  <div class='landing-social-div'>
    <ul class="landing-social-links">
      <a href="http://<%= SocialMediaLink.find_by_name('Facebook').url %>"><li id="facebook-icon" class="social-icon"></li></a>
      <a href="http://<%= SocialMediaLink.find_by_name('Twitter').url %>"><li id="twitter-icon" class="social-icon"></li></a>
      <a href="http://<%= SocialMediaLink.find_by_name('YouTube').url %>"><li id="youtube-icon" class="social-icon"></li></a>
      <a href="http://<%= SocialMediaLink.find_by_name('Bandcamp').url %>"><li id="bandcamp-icon" class="social-icon"></li></a>
      <a href="mailto:amankhosla1@gmail.com"><li id="email-icon" class="social-icon"></li></a>
    </ul>
  </div>
</div>

<script>
$(document).ready( function() {

      var audio = $("audio")[0];


    $(".fadehover").hover(
      function() {
        $("img.b").fadeIn("slow");
        audio.play();
      },
      function() {
        $("img.b").fadeOut("slow");
        audio.pause();
        audio.currentTime = 0;
      }
    );

    

});
</script>