<!DOCTYPE html>
<html>
<head>
  <title>Aman</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'landing' %>
  <%= csrf_meta_tags %>
</head>
<body>
<audio>
    <source src="assets/sound.mp3"></source>
</audio>
<%= yield %>

<%= include_rails_script %>
</body>
</html>
