<!DOCTYPE html>
<html>
<head>
  <title>Aman</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'landing' %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if Audio.all.count > 0 %>
<audio>
    <source src=<%= Audio.first.sound_file.url %>></source>
</audio>
<% end %>

<%= yield %>

<%= include_rails_script %>
</body>
</html>
